* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#image img {
    max-width: 100%;
}

.buttons {
    padding-bottom: 20px;
}

.right_button {
    font-size: 50px;
}

.left_button {
    font-size: 50px;
}