* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image img {
    max-width: 100%;
    mix-blend-mode: hard-light;
}

.buttons {
    display: flex;
}